.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 6rem 2rem;
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
  text-align: center;

  .overview {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #fff;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      color: #fff;
      display: inline-block; 
      overflow: hidden; 
      white-space: nowrap;
      border-right: 0.1em solid #fff; 
      width: 0;
      transition: opacity 0.5s ease; 
      animation: typing 1s steps(8) 1s forwards, blink 0.75s step-end infinite;
    }
    @media (max-width: 600px) {
      font-size: 2rem; 
    }
  }

  .tiles-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;

    .tile {
      background-color: #2d2d2d;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
      transform: translateZ(30px);

      h2,
      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-top: 0;
        line-height: 1.5;
      }
    }

    .intro-tile {
      grid-column: span 7;
      grid-row: span 3;
    }

    .role-tile {
      grid-column: span 3;
      grid-row: span 3;
      span {
        color: white;
      }
    }

    .education-tile {
      grid-column: span 5;
      grid-row: span 6;
      h3 {
        color: var(--goldenYellow-color);
        font-size: 1.5rem;
      }
      .education-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #e4e4e4;
    
        .education-school {
          display: flex;
          align-items: center;
          gap: 1rem;
    
          .education-logo {
            width: 60px;
            height: 60px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
    
          .university-name {
            font-size: 1.2rem;
            color: #ffffff;
          }
    
          .degree {
            font-size: 1rem;
            color: #c0c0c0;
          }
    
          .duration {
            font-size: 0.9rem;
            font-style: italic;
            color: #a0a0a0;
          }
        }
    
        .coursework {
          p {
            font-size: 1.1rem;
            color: #ffffff;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
    
          .courses-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;
    
            li {
              background-color: #2a2a2a;
              color: #ffffff;
              padding: 0.5rem 1rem;
              border-radius: 4px;
              font-size: 0.9rem;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              transition: background-color 0.2s;
    
              &:hover {
                background-color: var(--goldenYellow-color);
                color: #000000;
              }
            }
          }
        }
      }
    }

    .quote-tile {
      grid-column: span 4;
      grid-row: span 2;
    }

    .service-tile {
      grid-column: span 4;
      grid-row: span 3;
      .skills-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        div {
          background-color: var(--goldenYellow-color);
          color: var(--black-color);
          padding: 3px 10px;
          border-radius: 30px;
          text-align: center;
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            margin-left: 5px;
            font-family: "JetBrains Mono", monospace;
          }
        }
      }
    }

    .info2-tile {
      grid-column: span 8;
      grid-row: span 2;
    }

    span {
      color: var(--goldenYellow-color);
    }
  }

  @media (max-width: 700px) {
    .tiles-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; 
      width: 100%;
    }

    .tile {
      width: 100%;
      max-width: 600px; 
      padding: 15px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .skills-icons {
      flex-direction: row;
      gap: 10px;

      div {
        font-size: 1rem;
        padding: 5px;
      }
    }
  }
}
