/* AboutMe.scss */
.about__me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  text-align: center;
  padding: 6rem 2rem 0;
  font-family: "JetBrains Mono", monospace;

  .overview {
    margin-bottom: 30px;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      color: #fff;
      display: inline-block; 
      overflow: hidden; 
      white-space: nowrap;
      border-right: 0.1em solid #fff; 
      width: 0;
      transition: opacity 0.5s ease; 
      animation: typing 1s steps(8) 1s forwards, blink 0.75s step-end infinite;
      // &.active {
      //   animation: typing 1s steps(8) 1s forwards, blink 0.75s step-end infinite;
      //   opacity: 1; // Become visible when active
      // }

      span {
        color: var(--goldenYellow-color);
      }
    }

    p {
      font-size: 1.2rem;
      color: #ccc;
      max-width: 800px;
      margin: 20px auto;
      text-align: left;
      line-height: 1.6;
    }
  }

  /* Typewriter Animation */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* Blinking Cursor */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .card {
      background-color: var(--goldenYellow-color);
      color: var(--black-color);
      padding: 3px 10px;
      border-radius: 30px;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: var(--goldenYellow-color);
        box-shadow: 0 5px 15px rgba(255, 223, 0, 0.6);
      }

      p {
        margin-left: 5px;
        font-family: "JetBrains Mono", monospace;
      }
    }
  }
}

