.skills {
  padding: 6rem 18rem;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 50px 0;
}

.skills__heading {
  margin-bottom: 40px;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill {
  color: var(--white-color);
  border-radius: 20px;
  width: 100px;
  text-align: center;
  transition: transform 0.2s;

  img {
    width: 80px;
    height: 80px;
  }

  p {
    margin-top: 10px;
    font-size: 0.8rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

