// .skills {
//   padding: 6rem 18rem;
//   text-align: center;
//   font-family: "JetBrains Mono", monospace;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin: 50px 0;
// }

// .skills__heading {
//   margin-bottom: 40px;

//   .typewriter {
//     font-size: 2.5rem;
//     color: #fff;
//     display: inline-block;
//     overflow: hidden;
//     white-space: nowrap;
//     border-right: 0.1em solid #fff;
//     width: 0;
//     animation: typing 0.6s steps(8) 1s forwards, blink 0.75s step-end infinite;
//   }

//   @keyframes typing {
//     from {
//       width: 0;
//     }
//     to {
//       width: 100%;
//     }
//   }

//   @keyframes blink {
//     50% {
//       border-color: transparent;
//     }
//   }
// }

// .skills__container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   gap: 30px;
// }

// .skill {
//   // background-color: var(--goldenYellow-color);
//   color: var(--white-color);
//   // padding: 10px;
//   border-radius: 20px;
//   width: 100px;
//   text-align: center;
//   // box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
//   transition: background-color 0.2s;

//   img {
//     width: 80px;
//     height: 80px;
//   }

//   p {
//     margin-top: 10px;
//     font-size: 0.8rem;
//   }

//   &:hover {
//     // cursor: pointer;
//     transform: scale(1.1);
//     // box-shadow: 0 5px 15px rgba(255, 223, 0, 0.6);
//   }
// }

// @media screen and (max-width: 1200px) {
//   .skills__heading .typewriter {
//     font-size: 1.8rem; /* Reduce the font size on medium screens */
//   }

//   .skills__container {
//     gap: 15px;
//   }

//   .skill {
//     width: 130px; /* Make skill cards slightly smaller */
//   }
//   .skills {
//     padding: 4rem 2rem; /* Reduce padding for mobile screens */
//   }
// }

// @media screen and (max-width: 900px) {
//   .skills__container {
//     gap: 15px;
//   }

//   .skill {
//     width: 100px; /* Reduce the width of the skill cards */
//   }

//   .skills__heading .typewriter {
//     font-size: 1.8rem; /* Adjust the heading font size */
//   }

//   .skills {
//     padding: 4rem 2rem; /* Reduce padding for mobile screens */
//   }
// }

// @media screen and (max-width: 600px) {
//   .skills__heading .typewriter {
//     font-size: 1.5rem; /* Further reduce the font size for small screens */
//   }

//   .skills__container {
//     gap: 10px;
//   }

//   .skill {
//     width: 80px; /* Even smaller skill cards */
//   }

//   .skills {
//     padding: 3rem 1rem; /* Even smaller padding for phones */
//   }
// }


.skills {
  padding: 6rem 18rem;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.skills__heading {
  margin-bottom: 40px;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;

  // .typewriter {
  //   font-size: 2.5rem;
  //   color: #fff;
  //   display: inline-block;
  //   overflow: hidden;
  //   white-space: nowrap;
  //   border-right: 0.1em solid #fff;
  //   width: 0;
  //   animation: typing 1.5s steps(8, end) forwards, blink 0.75s step-end infinite;

  // }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill {
  color: var(--white-color);
  border-radius: 20px;
  width: 100px;
  text-align: center;
  transition: transform 0.2s;

  img {
    width: 80px;
    height: 80px;
  }

  p {
    margin-top: 10px;
    font-size: 0.8rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

