// .app__navbar {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 1rem 2rem;
//     position: fixed;
//     z-index: 1;
    
//     @media screen and (max-width: 900px) {
//         justify-content: flex-end;
//     }
// }

// .app__navbar-name {
//     display: flex;
//     align-items: center;
//     color: var(--silverGray-color);
//     &:hover {
//         color: var(--goldenYellow-color);
//     }
//     img {
//         width: 90px;
//         height: 20px;
//     }
//     @media screen and (min-width: 2000px){
//         width: 180px;
//         height: 40px;
        
//     }
// }

// .app__navbar-links {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     list-style: none;

//     border-radius: 30px;
//     box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
//     backdrop-filter:  blur(4px);
//     -webkit-backdrop-filter:  blur(4px);

//     li {
//         margin: 0 1rem; 
//         margin-bottom: 10px;
//         cursor: pointer;
//         flex-direction: column;

//         div {
//             width: 5px;
//             height: 5px;
//             border-radius: 50px;
//             background: transparent;
//             margin-bottom: 5px;
//         }
    
//         a {
//             color: var(--primary-color);
//             text-decoration: none;
//             flex-direction: column;
//             text-transform: uppercase;
//             font-weight: 500;
//             transition: all 0.3s ease-in-out;
//             &:hover {
//                 color: var(--goldenYellow-color);
//             }
//         }
//         &:hover {
//             div{
//                 background: var(--goldenYellow-color); 
//             }
//         }
//     }

//     @media screen and (max-width: 900px) {
//         display: none;
//     }
// }

// .app__navbar-menu {
//     width: 35px;
//     height: 35px;
//     border-radius: 50%;
//     position: relative;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     svg {
//         width: 70%;
//         height: 70%;
//         color: var(--silverGray-color);
//         &:hover {
//             color: var(--goldenYellow-color);
//         }
//     }
//     div {
//         position: fixed;
//         top: 0;
//         bottom: 0;
//         right: 0;
//         z-index: 5;

//         padding: 1rem;
//         width: 80%;
//         height: 100vh;

//         display: flex;
//         justify-content: flex-end;
//         align-items: flex-end;
//         flex-direction: column;

//         background-color: var(--black-color);
//         background-size: cover;
//         background-repeat: repeat;
//         box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

//         svg {
//             width: 35px;
//             height: 35px;
//             color: var(--silverGray-color);
//             margin: 0.5rem 1rem;
//             &:hover {
//                 color: var(--goldenYellow-color);
//             }
//         }
//         ul {
//             list-style: none;
//             margin: 0;
//             padding: 0;
//             height: 100%;
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-start;
//             align-items: flex-start;

//             li {
//                 margin: 1rem;

//                 a {
//                     color: var(--silverGray-color);
//                     text-decoration: none;
//                     font-size: 1rem;
//                     font-weight: 500;
//                     text-transform: uppercase;
//                     font-weight: 500;
//                     transition: all 0.3s ease-in-out;
//                     &:hover {
//                         color: var(--goldenYellow-color);
//                     }
//                 }
//             }
//         }
//         @media screen and (min-width: 900px) {
//             display: none;
//         }
//     }
//     @media screen and (min-width: 900px) {
//         display: none;
//     }
// }


.app__navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: -100px; /* Hide navbar initially */
    z-index: 1;
    transition: top 0.3s ease-in-out;

    &.show {
        top: 0; /* Show navbar */
    }

    &.hide {
        top: -100px; /* Hide navbar when scrolling down */
    }

    @media screen and (max-width: 900px) {
        justify-content: flex-end;
    }
}

.app__navbar-name {
    display: flex;
    align-items: center;
    color: var(--silverGray-color);
    &:hover {
        color: var(--goldenYellow-color);
    }
    img {
        width: 90px;
        height: 20px;
    }
    @media screen and (min-width: 2000px) {
        width: 180px;
        height: 40px;
    }
}

.app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    li {
        margin: 0 1rem;
        margin-bottom: 10px;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;
            border-radius: 50px;
            background: transparent;
            margin-bottom: 5px;
        }

        a {
            color: var(--primary-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: var(--goldenYellow-color);
            }
        }
        &:hover {
            div {
                background: var(--goldenYellow-color);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 70%;
        height: 70%;
        color: var(--silverGray-color);
        &:hover {
            color: var(--goldenYellow-color);
        }
    }
    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;
        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        background-color: var(--black-color);
        background-size: cover;
        background-repeat: repeat;
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

        svg {
            width: 35px;
            height: 35px;
            color: var(--silverGray-color);
            margin: 0.5rem 1rem;
            &:hover {
                color: var(--goldenYellow-color);
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            li {
                margin: 1rem;

                a {
                    color: var(--silverGray-color);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: var(--goldenYellow-color);
                    }
                }
            }
        }
        @media screen and (min-width: 900px) {
            display: none;
        }
    }
    @media screen and (min-width: 900px) {
        display: none;
    }
}
