.app__navbar {
    width: 100%;
    display: flex;
    justify-content: center; //edited
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 2;
    
    @media screen and (max-width: 900px) {
        justify-content: flex-end;
    }
}

.app__navbar-name {
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    color: var(--silverGray-color); //edited
    &:hover {
        // color: var(--secondary-color);
        color: var(--white-color); //edited
    }
    img {
        width: 90px;
        height: 20px;
    }
    @media screen and (min-width: 2000px){
        width: 180px;
        height: 40px;
        
    }
}

.app__navbar-links {
    // flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    border-radius: 30px; //edited
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); //edited
    backdrop-filter:  blur(4px);
    -webkit-backdrop-filter:  blur(4px);

    li {
        margin: 0 1rem; 
        margin-bottom: 10px; //edited bottom margin
        cursor: pointer;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;
            border-radius: 50px;
            background: transparent;
            margin-bottom: 5px;
        }
    
        a {
            // color: var(--gray-color);
            color: var(--silverGray-color); //edited
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
            &:hover {
                // color: var(--secondary-color);
                color: var(--white-color); //edited
            }
        }
        &:hover {
            div{
                // background: var(--secondary-color);
                background: var(--white-color); //edited
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: var(--secondary-color);

    svg {
        width: 70%;
        height: 70%;
        // color: var(--white-color);
        color: var(--silverGray-color); //edited
        &:hover {
            // color: var(--secondary-color);
            color: var(--white-color); //edited
        }
    }
    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;
        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        // background-color: var(--white-color);
        background-color: var(--black-color); //edited
        background-size: cover;
        background-repeat: repeat;
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

        svg {
            width: 35px;
            height: 35px;
            // color: var(--secondary-color);
            color: var(--silverGray-color); //edited
            margin: 0.5rem 1rem;
            &:hover {
                // color: var(--secondary-color);
                color: var(--white-color); //edited
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            li {
                margin: 1rem;

                a {
                    // color: var(--gray-color);
                    color: var(--silverGray-color); //edited
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: var(--white-color);
                    }
                }
            }
        }
        @media screen and (min-width: 900px) {
            display: none;
        }
    }
    @media screen and (min-width: 900px) {
        display: none;
    }
}