.header {
    display: flex;
    flex-direction: column; // Default stacking for smaller screens
    align-items: center;
    text-align: center;
    padding: 6rem 2rem 0;
    font-family: "JetBrains Mono", monospace;
    color: var(--white-color);
  
    &__main {
      display: flex;
      flex-direction: column; // Stack content and image by default
      align-items: center;
      width: 100%; // Ensure proper alignment
  
      @media (min-width: 900px) {
        flex-direction: row; // Side by side for larger screens
        justify-content: space-around; // Add space between content and image
        text-align: left;
        padding: 6rem 2rem 0;
      }
    }
  
    &__content {
      max-width: 600px;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      text-align: center; 
      
      height: 100%; 
      // gap: 1.5rem; 
  
      @media (min-width: 900px) {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: start;
      }
    }
  
    &__name {
      font-size: 3rem;
      font-family: "JetBrains Mono", monospace;
      color: var(--white-color); 
      margin-bottom: 0.5rem;
      
      .header__hello {
        color: var(--white-color); 
      }
      
      .header__name-highlight {
        color: var(--goldenYellow-color);
      }
  
      .header__wave {
        font-size: 1.5rem;
      }
    }
  
    &__description {
      font-size: 1rem;
      margin-bottom: 1.5rem;
      line-height: 1.5;
      color: var(--white-color);
    }
  
    &__button {
      background-color: var(--goldenYellow-color);
      color: var(--black-color);
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s;
      z-index: 10;
      font-family: "JetBrains Mono", monospace;
  
      &:hover {
        transform: scale(1.1); // Slightly enlarges the button
        box-shadow: 0 5px 15px rgba(255, 223, 0, 0.6);
      }
    }

    &__image {
        background: url(../../assets/profile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 
            inset 0 0 0 8px rgba(255, 255, 255, 0.5),  
            0 0 15px rgba(255, 255, 255, 0.9);  
        order: 1;
        justify-self: center;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        animation: profile_animation 8s ease-in-out infinite 1s;
        z-index: 10;
    }

  
    &__scroll {
      margin-top: 2rem; 
      font-size: 0.9rem; 
      display: flex;
      align-items: center;
      color: var(--silverGray-color);
      &:hover {
        color: var(--white-color);
        cursor: pointer;
      }
    }
}

@keyframes profile_animation {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 40% 60% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60 30% 70% 40%;
    }
}

.header__button-container {
  display: flex;
  align-items: center;
  gap: 1.5rem; // Add some space between the button and social icons
}

.header__socials {
  display: flex;
  gap: 1rem; // Space out the icons
}

.header__social-icon {
  font-size: 2rem;
  color: var(--white-color);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }

  &:hover {
    color: var(--goldenYellow-color);
  }
}

.header__social-icon > svg {
  transition: transform 0.3s ease;
}

  