.header {
    display: flex;
    flex-direction: column; // Default stacking for smaller screens
    align-items: center;
    text-align: center;
    padding: 8rem 2rem 0;
    font-family: "Arial", sans-serif;
    color: var(--white-color);
  
    &__main {
      display: flex;
      flex-direction: column; // Stack content and image by default
      align-items: center;
      width: 100%; // Ensure proper alignment
  
      @media (min-width: 900px) {
        flex-direction: row; // Side by side for larger screens
        justify-content: space-around; // Add space between content and image
        text-align: left;
        padding: 6rem 2rem 0;
      }
    }
  
    &__content {
      max-width: 800px;
      margin-bottom: 4rem;
  
      @media (min-width: 900px) {
        margin-bottom: 0; // Remove margin for side-by-side layout
      }
    }
  
    &__name {
      font-size: 2.5rem;
      font-weight: bold;
      font-family: "Merriweather", serif;
      color: var(--white-color); // Default color for the whole text
      margin-bottom: 0.5rem;
      
      .header__hello {
        color: var(--goldenYellow-color); // Explicit white color for "Hello,"
      }
      
      .header__name-highlight {
        color: var(--white-color); // Golden yellow color for "I'm Sumana Madhireddy"
      }
  
      .header__wave {
        font-size: 1.5rem;
      }
    }
  
    &__description {
      font-size: 1rem;
      margin-bottom: 1.5rem;
      line-height: 1.5;
      color: var(--white-color);
    }
  
    &__button {
      background-color: var(--silverGray-color);
      color: var(--black-color);
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: var(--white-color);
      }
    }

    &__image {
        background: url(../../assets/profile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 
            inset 0 0 0 8px rgba(255, 255, 255, 0.5),  
            0 0 15px rgba(255, 255, 255, 0.9);  
        order: 1;
        justify-self: center;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        animation: profile_animation 8s ease-in-out infinite 1s;
        z-index: 5;
    }

  
    &__scroll {
      margin-top: 2rem; 
      font-size: 0.9rem; 
      display: flex;
      align-items: center;
      color: var(--silverGray-color);
      &:hover {
        color: var(--white-color);
      }
    }
}

@keyframes profile_animation {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 40% 60% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60 30% 70% 40%;
    }
}

  