.header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  padding: 6rem 2rem 0;
  font-family: "JetBrains Mono", monospace;
  color: var(--white-color);

  &__main {

    display: flex;
    flex-direction: column-reverse; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 100%;
    gap: 2rem;

    @media (min-width: 600px) {
      flex-direction: row; 
    }

    @media (min-width: 900px) {
      justify-content: space-around; 
      padding: 6rem 4rem 0; 
    }
  }

  &__content {
    max-width: 600px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (min-width: 600px) {
      text-align: center; 
      align-items: center;
    }
    @media (min-width: 900px) {
      text-align: center; 
      align-items: center;
    }
    @media (min-width: 1140px) {
      text-align: start; 
      align-items: flex-start;
    }
  }

  &__name {
    font-size: 2rem; 
    margin-bottom: 0.5rem;

    .header__hello {
      color: var(--white-color);
    }

    .header__name-highlight {
      color: var(--goldenYellow-color);
    }

    .header__wave {
      font-size: 1.5rem;
    }

    @media (min-width: 900px) {
      font-size: 3rem; 
    }
  }

  &__description {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: var(--white-color);

    @media (min-width: 600px) {
      font-size: 1rem; 
    }
  }

  &__button {
    background-color: var(--goldenYellow-color);
    color: var(--black-color);
    padding: 0.7rem 1.4rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    font-family: "JetBrains Mono", monospace;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 5px 15px rgba(255, 223, 0, 0.6);
    }

    @media (min-width: 900px) {
      font-size: 1rem;
    }
  }

  &__image {
    background: url(../../assets/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.9);
    width: 250px;
    height: 250px;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: profile_animation 8s ease-in-out infinite 1s;

    @media (min-width: 600px) {
      width: 250px;
      height: 250px; 
    }

    @media (min-width: 900px) {
      width: 300px;
      height: 300px;
    }
  }

  &__scroll {
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: var(--silverGray-color);

    &:hover {
      color: var(--white-color);
      cursor: pointer;
    }

    @media (min-width: 900px) {
      font-size: 1rem;
    }
  }
}

@keyframes profile_animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 40% 60% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60 30% 70% 40%;
  }
}

.header__button-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (min-width: 900px) {
    gap: 1.5rem; 
  }
}

.header__socials {
  display: flex;
  gap: 0.8rem;

  @media (min-width: 900px) {
    gap: 1rem;
  }
}

.header__social-icon {
  font-size: 1.5rem;
  color: var(--white-color);
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
    color: var(--goldenYellow-color);
  }

  @media (min-width: 900px) {
    font-size: 2rem;
  }
}
