.work {
  background: #030303;
  color: white;
  padding: 6rem 2rem;
  font-family: "JetBrains Mono", monospace;

  &__heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .timeline-item {
    &__position {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;

      span {
        color: var(--goldenYellow-color);
      }
    }

    &__details {
      list-style: none;
      padding: 0;

      li {
        font-size: 0.9rem;
        color: #e4e4e4;
        margin-bottom: 0.8rem;


        position: relative;
        padding-left: 20px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          border-radius: 50%; 
          background-color: var(--white-color); 
        }
      }
    }

    .vertical-timeline-element-content:before {
      background: #0a2c63; /* Gray color for the timeline line */
    }
  }

  .technology-divs {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .technology-div {
    background-color: var(--goldenYellow-color);
    color: #030303;
    padding: 3px 8px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: default; 
    transition: background-color 0.3s ease;
  }
}


@media (max-width: 900px) {
  .work {
    &__heading {
      font-size: 1.8rem;
    }

    .timeline-item {
      &__details li {
        font-size: 0.85rem;
      }
    }
  }
}
