.projects {
  padding: 6rem 10rem;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.projects_title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: white;
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.project-card-horizontal {
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  // cursor: pointer;
  padding: 1rem;
  padding-bottom: 2rem;
  color: #e4e4e4;
  margin-bottom: 1rem;
  position: relative;
}

.project-card-horizontal:hover {
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.7);
}

.project-card-horizontal__image {
  width: 380px;
  height: 200px;
  object-fit: fill;
  border-radius: 8px;
  margin-right: 1rem;
}

.project-card-horizontal__details {
  flex: 1;
  text-align: left;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .project-description ul {
    list-style-type: disc; 
    padding-left: 20px;    
    color: #e4e4e4;        
  }
  
  .project-description li {
    font-size: 1rem;       
    margin-bottom: 0.5rem; 
  }
  
}

.project-card-horizontal__techs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.tech-badge {
  background-color: var(--goldenYellow-color);
  color: #1a1a1a;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

.project-card-horizontal__github {
  font-size: 1.5rem;
  color: var(--goldenYellow-color);
  transition: color 0.3s ease;
}

.project-card-horizontal__github:hover {
  color: #ffffff;
}

.project-card-horizontal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.project-card-horizontal__team {
  display: flex;
}

.team-member {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}


.project-card-horizontal__github {
  font-size: 1.5rem;
  color: var(--goldenYellow-color);
  transition: color 0.3s ease;
}

.project-card-horizontal__github:hover {
  color: #ffffff;
}

.see-more-btn {
  background: none;
  border: none;
  color: #e4e4e4;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: color 0.3s;

  display: flex;
  align-items:end;
  gap: 0.2rem;
}

.see-more-btn:hover {
  color: var(--goldenYellow-color);
}

.full-description {
  margin-top: 1rem;
  color: #e4e4e4;
  font-size: 1rem;
}


// .modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.7);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1000;
// }

// .modal-content {
//   background-color: #2a2a2a;
//   color: #e4e4e4;
//   padding: 2rem;
//   width: 70%;
//   max-width: 900px;
//   border-radius: 10px;
//   overflow-y: auto;
// }
