.projects {
  padding: 6rem 10rem;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 4rem 5rem; 
  }

  @media (max-width: 1000px) {
    padding: 3rem 2rem; 
  }

  @media (max-width: 480px) {
    padding: 2rem 1rem; 
  }
}

.projects_title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: white;

  @media (max-width: 1000px) {
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1.8rem; 
  }
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.project-card-horizontal {
  display: flex;
  align-items: flex-start;
  background-color: #2a2a2a;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #e4e4e4;
  position: relative;

  @media (max-width: 1000px) {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  @media (max-width: 480px) {
    padding: 0.8rem; 
  }
}

.project-card-horizontal:hover {
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.7);
}

.project-card-horizontal__image {
  width: 380px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;

  @media (max-width: 1000px) {
    width: 100%;
    height: auto; 
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.project-card-horizontal__details {
  flex: 1;
  text-align: left;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    @media (max-width: 1000px) {
      font-size: 1.3rem; 
    }

    @media (max-width: 480px) {
      font-size: 1.2rem; 
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;

    @media (max-width: 480px) {
      font-size: 0.9rem; 
    }
  }

  .project-description ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #e4e4e4;

    @media (max-width: 1000px) {
      padding-left: 15px; 
    }

    @media (max-width: 480px) {
      padding-left: 10px; 
    }
  }

  .project-description li {
    font-size: 1rem;
    margin-bottom: 0.5rem;

    @media (max-width: 1000px) {
      font-size: 0.9rem;
    }

    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
}

.project-card-horizontal__techs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;

  @media (max-width: 1000px) {
    justify-content: center; 
  }
}

.tech-badge {
  background-color: var(--goldenYellow-color);
  color: #1a1a1a;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  font-size: 0.9rem;

  @media (max-width: 480px) {
    font-size: 0.8rem; 
  }
}

.project-card-horizontal__github {
  font-size: 1.5rem;
  color: var(--goldenYellow-color);
  transition: color 0.3s ease;
}

.project-card-horizontal__github:hover {
  color: #ffffff;
}

.project-card-horizontal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  @media (max-width: 1000px) {
    flex-direction: row; 
    align-items: center;
    gap: 1rem;
  }
}

.team-member {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 480px) {
    width: 30px;
    height: 30px; 
  }
}

.see-more-btn {
  background: none;
  border: none;
  color: #e4e4e4;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  gap: 0.2rem;

  @media (max-width: 480px) {
    font-size: 0.9rem; 
  }
}

.full-description {
  margin-top: 1rem;
  color: #e4e4e4;
  font-size: 1rem;

  @media (max-width: 480px) {
    font-size: 0.9rem; 
  }
}
